task_1/output.txt
task_1/analysis.txt
task_1/brusselator
task_1/a.out
task_1/.gitattributes
task_1/oldbrusselator.cpp
task_1/bruss
task_1/bruss.c
task_1/.vscode/settings.json
task_1/bruesselator
task_1/.vscode